<% flash.each do |key, value| %>
  <% alert_class = key == "notice" ? 'success' : 'danger' %>
  <div class="alert alert-<%= alert_class %>">
    <a href="#" data-dismiss="alert" class="close">×</a>
      <ul>
        <li>
          <%= value %>
        </li>
      </ul>
  </div>
<% end %>

<script>
  $(document).ready(function(){
    setTimeout(function(){
      $(".alert").fadeOut(1000)
    }, 2000)
  })
</script>